@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #1a202c;
  --secondaryColor: #3563e9;
  --thirdlyColor: #596780;
  --darkGreyColor: #90a3bf;
  --whiteColor: #ffffff;
  --semiTransparentGray: rgba(19, 19, 19, 0.6);
  --br: 4px;
  --pt: 10px;
  --pb: 10px;
  --pr: 20px;
  --pl: 20px;
  --mainFontFamily: var(--font-jakarta);
  --btn-width: 116px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFontFamily);
  background-color: #F6F7F9;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  display: none;
}

.containerWrapper{
  @apply w-full max-w-[1312px] m-auto;
}

.btn {
  background-color: var(--secondaryColor);
  color: var(--whiteColor);
  border-radius: var(--br);
  width: var(--btn-width);
  padding: var(--pt) var(--pr) var(--pb) var(--pl);
  border: none;
}

.addInput {
  background: none;
  color: var(--darkGreyColor);
  border: none;
  padding: 16px 24px;
}
